
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}


.chessboard {
  width: 500px;
  height: 500px; 
  margin: 50px auto; 
}
table {
  width: 100%;
  height: 100%;
  border-collapse: collapse; 
}

th, td {
  width: 62.5px; 
  height: 62.5px; 
  text-align: center; 
  font-size: 24px; 
}


.light {
  background-color: #fff;
}

.dark {
  background-color: #603018; 
}

th {
  font-size: 12px;
}